.cheap{
    display: flex;
    align-items: center;
}

.cheap__container{
    padding: 50px 5%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cheap__container h1{
    margin-bottom: 30px;
}

.cheap__models{
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* .cheap__models button{
    border: none;
    outline: none;
    padding: 20px 200px;
    background-color: rgb(245, 245, 245); 
    border-radius: 5px; 
    font-size: 19px;
    cursor: pointer;
}

.cheap__models button:hover{
    background-color: rgb(227, 227, 227);
} */

.cheap__img img{
    border-radius: 12px;
}

.cheap__heart{
    right: -84%;
    top: 50%;
    z-index: 1;
    font-size: 25px;
    cursor: pointer;
    color: rgb(36, 36, 36);
}


.cheap__img{
    margin-bottom: 15px;
}

.cheap__model{
    display: flex;
    width: 250px;
    flex-direction: column;
    margin-bottom: 30px;
}

.cheap__model p{
    color: rgb(84, 84, 84);
    margin-bottom: 5px;     
}

.cheap__star{
    color: rgb(146, 146, 146);
}

.cheap__time{
    color: crimson;
    margin-bottom: 8px;
}

.cheap__sum{
    background-color: rgb(255, 255, 49);
    border-radius: 5px;
    padding: 2px 7px;
    width: 145px;
    margin-bottom: 4px;
}

.cheap__sum-old{
    color: rgb(116, 116, 116);
}

.cheap__cart-sum{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.cheap__main-sum{
    font-size: 20px;
    color: rgb(52, 52, 52);
}

.cheap__cart{
    cursor: pointer;
}